<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SerialMonitorEssential.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SerialMonitorEssential.Properties.Settings>
            <setting name="setting_BaudRate" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="setting_Handshake" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setting_Enter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setting_reconnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setting_timestamp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setting_autoScroll" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setting_timestamp_string" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setting_NULL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setting_CRLF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setting_StopBits" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setting_DataBits" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="setting_Parity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setting_RtsEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setting_DtrEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setting_Wrap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setting_sendCRLF" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setting_note" serializeAs="String">
                <value>User's Note</value>
            </setting>
            <setting name="setting_first" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setting_binary" serializeAs="String">
                <value>False</value>
            </setting>
        </SerialMonitorEssential.Properties.Settings>
    </userSettings>
</configuration>